<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.finance.mapper.IncomeDetailMapper">
  <resultMap id="BaseResultMap" type="com.sy.finance.domain.IncomeDetail">
    <!--@mbg.generated-->
    <!--@Table income_detail-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="prices" jdbcType="DECIMAL" property="prices" />
    <result column="clearing" jdbcType="INTEGER" property="clearing" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goods_name, `count`, price, actual_price, prices, clearing, parent_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from income_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from income_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.finance.domain.IncomeDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into income_detail (goods_name, `count`, price,
      actual_price, prices, clearing,
      parent_id)
    values (#{goodsName,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL},
      #{actualPrice,jdbcType=DECIMAL}, #{prices,jdbcType=DECIMAL}, #{clearing,jdbcType=INTEGER},
      #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.finance.domain.IncomeDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into income_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="count != null">
        `count`,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="prices != null">
        prices,
      </if>
      <if test="clearing != null">
        clearing,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="prices != null">
        #{prices,jdbcType=DECIMAL},
      </if>
      <if test="clearing != null">
        #{clearing,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.finance.domain.IncomeDetail">
    <!--@mbg.generated-->
    update income_detail
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="prices != null">
        prices = #{prices,jdbcType=DECIMAL},
      </if>
      <if test="clearing != null">
        clearing = #{clearing,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.finance.domain.IncomeDetail">
    <!--@mbg.generated-->
    update income_detail
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      actual_price = #{actualPrice,jdbcType=DECIMAL},
      prices = #{prices,jdbcType=DECIMAL},
      clearing = #{clearing,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-27-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from income_detail
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="goodsName != null and  goodsName !='' ">
                and goods_name like concat('%',#{goodsName,jdbcType=VARCHAR},'%')
            </if>
            <if test="count != null">
                and `count`=#{count,jdbcType=INTEGER}
            </if>
            <if test="price != null">
                and price=#{price,jdbcType=DECIMAL}
            </if>
            <if test="actualPrice != null">
                and actual_price=#{actualPrice,jdbcType=DECIMAL}
            </if>
            <if test="prices != null">
                and prices=#{prices,jdbcType=DECIMAL}
            </if>
            <if test="clearing != null">
                and clearing=#{clearing,jdbcType=INTEGER}
            </if>
            <if test="parentId != null">
                and parent_id=#{parentId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-07-28-->
  <select id="selectByParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from income_detail
    where parent_id=#{parentId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-08-05-->
  <insert id="insertList">
        INSERT INTO income_detail(
        id,
        goods_name,
        count,
        price,
        actual_price,
        prices,
        clearing,
        parent_id
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.id,jdbcType=INTEGER},
            #{element.goodsName,jdbcType=VARCHAR},
            #{element.count,jdbcType=INTEGER},
            #{element.price,jdbcType=DECIMAL},
            #{element.actualPrice,jdbcType=DECIMAL},
            #{element.prices,jdbcType=DECIMAL},
            #{element.clearing,jdbcType=INTEGER},
            #{element.parentId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="sumMoney" resultType="java.math.BigDecimal">
        select sum(prices)  from income_detail where parent_id = #{}
    </select>




</mapper>
