<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.finance.mapper.IncomeMapper">
  <resultMap id="BaseResultMap" type="com.sy.finance.domain.Income">
    <!--@mbg.generated-->
    <!--@Table income-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="serial_umber" jdbcType="VARCHAR" property="serialUmber" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="clearing" jdbcType="INTEGER" property="clearing" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, client_name, company, phone, total_money, created, serial_umber, `status`, clearing,operator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from income
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from income
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.finance.domain.Income" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into income (client_name, company, phone,
      total_money, created, serial_umber,
      `status`, clearing,operator)
    values (#{clientName,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{totalMoney,jdbcType=DECIMAL}, #{created,jdbcType=TIMESTAMP}, #{serialUmber,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{clearing,jdbcType=INTEGER},#{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.finance.domain.Income" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into income
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientName != null">
        client_name,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="serialUmber != null">
        serial_umber,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="clearing != null">
        clearing,
      </if>
      <if test="operator != null">
        operator,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientName != null">
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="serialUmber != null">
        #{serialUmber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="clearing != null">
        #{clearing,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.finance.domain.Income">
    <!--@mbg.generated-->
    update income
    <set>
      <if test="clientName != null">
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="serialUmber != null">
        serial_umber = #{serialUmber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="clearing != null">
        clearing = #{clearing,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.finance.domain.Income">
    <!--@mbg.generated-->
    update income
    set client_name = #{clientName,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      created = #{created,jdbcType=TIMESTAMP},
      serial_umber = #{serialUmber,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      clearing = #{clearing,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-14-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from income
        <where>
            <if test="id != null and id !='' ">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="clientName != null and clientName != '' ">
                and client_name like concat('%',#{clientName,jdbcType=VARCHAR},'%')
            </if>
            <if test="company != null and company != ''">
                and company=#{company,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != '' ">
                and phone=#{phone,jdbcType=VARCHAR}
            </if>
            <if test="totalMoney != null  and totalMoney != ''">
                and total_money=#{totalMoney,jdbcType=DECIMAL}
            </if>
            <if test="created != null and created != ''">
                and created=#{created,jdbcType=TIMESTAMP}
            </if>
            <if test="serialUmber != null and serialUmber != ''">
                and serial_umber=#{serialUmber,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != ''">
                and `status`=#{status,jdbcType=INTEGER}
            </if>
            <if test="clearing != null and clearing != ''">
                and clearing=#{clearing,jdbcType=INTEGER}
            </if>
          <if test="startTime != null and startTime != ''">
            and DATE_FORMAT(created,'%Y-%m-%d')  &gt;= #{startTime}
          </if>
          <if test="endTime != null  and endTime != ''">
            and DATE_FORMAT(created,'%Y-%m-%d')  &lt;=  #{endTime}
          </if>
        </where>
    order  by id desc
    </select>


  <update id="updateStatusById" parameterType="com.sy.finance.domain.Income">
    <!--@mbg.generated-->
    update income
    set
    `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-31-->
  <update id="updateClearingById">
        update income
        set clearing=#{updatedClearing,jdbcType=INTEGER}
        where id=#{id,jdbcType=INTEGER}
    </update>
</mapper>
