<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.finance.mapper.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.sy.finance.domain.Template">
    <!--@mbg.generated-->
    <!--@Table `template`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="max_line" jdbcType="INTEGER" property="maxLine" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, file_type, remark, file_name, file_url,created,updated,max_line
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `template`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `template`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sy.finance.domain.Template" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `template` (file_type, remark, file_name,
      file_url,created,updated,max_line)
    values (#{fileType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR},
      #{fileUrl,jdbcType=VARCHAR},#{created,jdbcType=TIMESTAMP},#{updated,jdbcType=TIMESTAMP},#{maxLine,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sy.finance.domain.Template" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `template`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileType != null">
        file_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="maxLine != null">
        max_line,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="maxLine != null">
        #{maxLine,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.finance.domain.Template">
    <!--@mbg.generated-->
    update `template`
    <set>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created =  #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated =  #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="maxLine != null">
        max_line = #{maxLine,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.finance.domain.Template">
    <!--@mbg.generated-->
    update `template`
    set file_type = #{fileType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      created =  #{created,jdbcType=TIMESTAMP},
      updated =  #{updated,jdbcType=TIMESTAMP},
      max_line = #{maxLine,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-31-->
  <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `template`
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="fileType != null">
                and file_type=#{fileType,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="fileName != null">
                and file_name=#{fileName,jdbcType=VARCHAR}
            </if>
            <if test="fileUrl != null">
                and file_url=#{fileUrl,jdbcType=VARCHAR}
            </if>
          <if test="fileUrl != null">
                and max_line = #{maxLine,jdbcType=INTEGER}
          </if>

        </where>
    </select>
    <select id="getApproachByLine" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from `template`
      where  max_line &lt;= #{line,jdbcType=INTEGER}
      order by max_line asc limit 1
    </select>
  <select id="getMaxLine" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `template`
    order by max_line desc limit 1
  </select>
</mapper>
